.Chessboard {
	width: 16em;
	height: 16em;
	border: 0.25em solid hsl(140, 50%, 30%);
	margin: auto;
}

.Chessboard .Row {
	height: 2em;
}

.Chessboard .Row .Cell {
	width: 2em;
	height: 2em;
	position: relative;
	float: left;
}

.Chessboard .Row:nth-child(even) .Cell:nth-child(even),
.Chessboard .Row:nth-child(odd) .Cell:nth-child(odd){
	background: #f8f8f8;
	color: hsl(140, 50%, 50%);
}

.Chessboard .Row:nth-child(even) .Cell:nth-child(odd),
.Chessboard .Row:nth-child(odd) .Cell:nth-child(even){
	background: hsl(140, 50%, 50%);
	color: #f8f8f8;
}

.Chessboard .Row .Cell .piece {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.Chessboard .Row .Cell .piece img {
	width: 80%;
	height: 80%;
	margin: 10%;
}

.Chessboard .Row .Cell .colLabel {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 50%;
}

.Chessboard .Row .Cell .rowLabel {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 50%;
}

.Chessboard .Row .Cell.selectable {
	cursor: pointer;
}

.Chessboard .Row .Cell.selected.selected {
	background: #0f0;
}

.ChessboardContainer {
	width: 100%;
	height: 100%;
}

.Pool {
	border-top: 0.25em solid transparent;
}

.Pool .Piece {
	cursor: pointer;
}

.Pool .Piece span {
	display: block;
	width: 100%;
	height: 100%;
}

.Pool .Piece img {
	height: 80%;
	width: 80%;
	margin: 10%;
}

.Pool .selected {
	background: hsl(140, 50%, 50%);
}
