.Modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.Modal .center {
	width: 100%;
	height: 100%;
}

.ModalUnderlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	cursor: crosshair;
}

.ModalContent {
	position: absolute;
	background: white;
	border-radius: 1em;
	z-index: 1;
	overflow: hidden;
	box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
}

.Modal h1 {
	color: white;
	background: #333;
	margin: 0;
	padding: 0.5em 1em;
	text-align: left;
	font-size: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.Modal p {
	padding: 0.5em 1em;
}

/* ModalButton */
.ModalButton {
	cursor: pointer;
	border: 1px solid #bbb;
	background: linear-gradient(#fff, #eee);
	border-radius: 0.2em;
	padding: 0.2em 0.5em;
	margin: 0.2em;
	text-align: center;
}

.ModalButton:active {
	background: linear-gradient(#eee, #fff);
}

.ModalButton:disabled {
	cursor: default;
	background: #eee;
}

.ModalButton img {
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	margin-right: 0.5em;
}

.ModalButton:disabled img {
	filter: grayscale(100%);
}

/* ModalButtons */
.ModalButtons {
	display: flex;
	padding: 1em;
}
