.NotebookContainer {
	padding: 0 0.5em;
}

.Move {
	margin-left: 0.5em;
}

.Move:first-child {
	margin-left: 0;
}

.Move:last-child {
	margin-right: 2em;
}

.Move a {
	border-radius: 0.2em;
}

.Move a:hover {
	background: hsl(140, 50%, 50%);
}

.Move span a{
	text-decoration: underline;
}

.Move span[data-tip=""] a,
.Move span:not([data-tip]) a{
	text-decoration: none;
}

.Superline .slider,
.Sublines  .slider {
	height: 3em;
	line-height: 3em;
	padding: 0 1em;
	box-sizing: border-box;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
}

.Superline .line,
.Sublines .line {
	position: relative;
}

/*.Superline .line:after,
.Sublines .line:after {
	content: "";
	position: absolute;
	top: 0.5em;
	right: 0;
	display: block;
	height: 2em;
	width: 2em;
	background: linear-gradient(to right, transparent, white);
}*/

.Superline {
	clear: both;
	border-top: 1px solid;
	border-bottom: 1px solid;
	color: silver;
}

.Superline a:hover {
	color: #333;
}

.Sublines .line {
	border-bottom: 1px solid;
	clear: both;
	/*outline: 2px solid blue;*/
}

.Sublines .line:last-child {
	border-bottom: none;
}

.Sublines .more {
	color: white;
	background: #333;
	border-radius: 0.2em;
	margin-left: 0.5em;
}

.Sublines .header {
	/*outline: 2px solid green;*/
	height: 3em;
	line-height: 3em;
}

.Sublines .header .Button,
.Sublines .line .Button {
	height: 3em;
	width: 3em;
	z-index: 10;
}

.Notebook .lastMove {
	font-size: 300%;
}

.Notebook .lastMove > textarea {
	display: block;
	resize: none;
	height: 3em;
	width: 100%;
	box-sizing: border-box;
}

.Notebook .buttons .Button {
	width: 3em;
	height: 3em;
	margin-right: 0.5em;
}
