.Search h2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-bottom: 0;
}

.Search .inputContainer {
	width: 75%;
	max-width: 500px;
	margin: 0 auto;
	position: relative;
}

.Search .inputContainer .Button {
	position: absolute;
	top: 0;
	right: 0;
	width: 2.5em;
	height: 2.5em;
}

.Search .inputContainer input[value=""] + .Button {
	display: none;
}

.Search input {
	display: block;
	width: 100%;
	padding: 0.5em 2.5em 0.5em 0.5em;
	font: inherit;
	letter-spacing: inherit;
	border: none;
	box-shadow: 0 0 0.25em rgba(0,0,0,0.25);
	box-sizing: border-box;
}

.SearchResult {
	position: relative;
}

.SearchResult a {
	display: block;
}

.SearchResult a:hover,
.SearchResult a:active {
	background: hsla(120, 50%, 50%, 0.25);
}

.SearchResult .thumbnail {
	float: left;
	margin-right: 0.5em;
	width: 5em;
	height: 5em;
}

.SearchResult h3,
.SearchResult p {
	margin: 0;
}
