.Search h2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-bottom: 0;
}

.Search > input {
	display: block;
	width: 75%;
	max-width: 500px;
	padding: 0.5em;
	margin: 0 auto 0.5em;
	font: inherit;
	letter-spacing: inherit;
	border: none;
	box-shadow: 0 0 0.25em rgba(0,0,0,0.25);
}

.SearchResult {
	position: relative;
}

.SearchResult a {
	display: block;
}

.SearchResult a:hover,
.SearchResult a:active{
	background: hsla(120, 50%, 50%, 0.25);
}


.SearchResult .thumbnail {
	float: left;
	margin-right: 0.5em;
	width: 5em;
	height: 5em;
}
